com.yakshop/src/main/resources/herd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="herd">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="labyak"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="labyak">
        <xs:complexType>
            <xs:attribute name="age" use="required" type="xs:decimal"/>
            <xs:attribute name="name" use="required" type="xs:NCName"/>
            <xs:attribute name="sex" use="required" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
